<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}}
    {{- block "structured" . }}{{- end }}
    {{- block "mathjax" . }}{{- end }}
  </head>

  <body>
    <svg><defs><pattern id="svgbg" patternUnits="userSpaceOnUse" width="20" height="20"><circle cx="10" cy="10" r="1" fill="rgba(255,255,255,0.3)" stroke="#343434" stroke-width="0"></circle></pattern></defs><rect style="fill:url(#svgbg)" x="0" y="0" height="9999" width="9999"></rect></svg>

    <div class="container">
      {{- partial "header.html" . -}}

      {{- block "body" . }}{{- end }}

      {{- partial "footer.html" . -}}
    </div>

    {{ $asset := resources.Get "/js/main.js" | minify }}
    <script src="{{ $asset.Permalink }}" async></script>
  </body>
</html>