{{ if .Params.math }}
  {{ partial "mathjax" . }}
{{ end }}

{{ define "body" }}
  <div class="article">
    <div class="title">

      <div class="meta">
        <div class="publish-date">
          <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
        </div>
        <div class="reading-time">
          <i class="icon icon-clock-o" aria-hidden="true"></i><span>{{ .ReadingTime }} min read</span>
        </div>
      </div>

       <a href="{{ .Page.Permalink }}" class="page-title">{{ .Title }}</a>

    </div>

    {{ .Content }}

    <div class="backlink lnk"><a href="/#blog">Back to the blog section</a></div>
  </div>
{{ end }}

{{ define "structured" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ .Title }}",
    "datePublished": "{{ .PublishDate }}T08:00:00+08:00",
    "author": {
      "@type": "Person",
      "name": "Beronika Solinnen",
      "url": "{{ .Site.Params.staticURL }}"
    }
  }
</script>
{{ end }}