<div class="footer">
  <p class="copyright" id='full'>© Solinnen, all rights reserved.</p>
  <p class="copyright" id='short'>© Solinnen</p>
  <div class="footer-buttons">
    <a href="https://t.me/Solinnen" title="Telegram" target="_blank"><i class="icon icon-telegram" aria-hidden="true"></i></a>
    <a href="https://gitlab.com/Solinnen" title="GitLab" target="_blank"><i class="icon icon-gitlab" aria-hidden="true"></i></a>
    <a name='email' style="display: none" title="Email" target="_blank"><i class="icon icon-envelope" aria-hidden="true"></i></a>
    <a href="https://github.com/Solinnen" title="GitHub" target="_blank"><i class="icon icon-github" aria-hidden="true"></i></a>
    <a href="https://cryptohack.org/user/Solinnen/" title="CryptoHack" target="_blank"><i class="icon icon-cryptohack" aria-hidden="true"></i></a>
  </div>
</div>