<div class="footer">
  <p class="copyright" id='full'>© Solinnen, all rights reserved.</p>
  <p class="copyright" id='short'>© Solinnen</p>
  <div class="footer-buttons">
    <a href="https://t.me/Solinnen" title="Telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a>
    <a href="https://gitlab.com/Solinnen" title="GitLab"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
    <a name='email' style="display: none" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <a href="https://github.com/Solinnen" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://cryptohack.org/user/Solinnen/" title="CryptoHack"><img class="symbol" width="21" src="/images/cryptohack.svg"></a>
  </div>
</div>