<div class="header">
    <div class="headerbox">
        <a class="title" href="/"><h1>Beronika Solinnen</h1></a>
        <div class="buttons-row">
            <a class="button lnk" name="email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>[Protected]</span>
            </a>
            <a class="button lnk" href="https://gitlab.com/Solinnen">
                <i class="fa fa-gitlab" aria-hidden="true"></i>
                <span>GitLab</span>
            </a>
            <a class="button lnk" href="https://t.me/Solinnen">
                <i class="fa fa-telegram" aria-hidden="true"></i>
                <span>Telegram</span>
            </a>
        </div>
    </div>
</div>